<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Users!</title>
</head>

<body class="align-items-center">

        <a href="/newUser" class="btn btn-info btn-outline-danger" >Create User</a>
        <div class="d-flex justify-content-around flex-wrap p-5">
            {% for one_user in all_users %}
            <div class="card col-3 bg-dark text-light m-1">
                <div class="card-body">
                    <p class="card-title text-primary">Name: {{one_user["first_name"]}} {{one_user["last_name"]}}</p>>
                </div>
                <div class="card-footer bg-light text-dark">
                    <p class="card-text">Email: {{one_user["email"]}}</p>>
                </div>
            </div>
        {% endfor %}
        </div>
  
</body>
</html>