<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}"">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>templates</title>
</head>
<body id="bod">
    <div class="form">

        <form action="/process" method="post" class="col-6 mx-auto card my-5 bg-dark text-light">
            
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="location">Dojo Location:</label>
                <input type="text" name="location" id="location" class="form-control">
            </div>
            <div class="form-group">
                <label for="language">Favorite Language:</label>
                <input type="text" name="language" id="language" class="form-control">
            </div>
            <div class="form-group">
                <label for="comments">comments:</label>
                <textarea type="text" name="comments" min="0" id="comments" class="form-control" placeholder="leave comments here..."></textarea>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-outline-dark">
        
        </form>
    </div>
</body>
</html>