* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
}

.form {
     display:flex;
     flex-direction:column;
     justify-content:center;
     width: 100%;
     height: 100vh;
     background-color: #d0785f;
     background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23342e2c' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     margin-top: 50px;
}

h2 {
    background-color:#f4f4f4;
    padding: 10px;
    height: 60px;
    width: 300px;
    border: black solid 2px;
}